# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Unreal generated folders
Binaries/
Intermediate/
Saved/
DerivedDataCache/

# IDE
.vscode/
.idea/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini